
<app-add-unit></app-add-unit>

<section>

  <div  fxLayout="column" fxLayoutAlign="space-around center">
    <h4>Convert Units</h4>
    <form [formGroup]="form">
      <div fxLayout
      fxLayoutAlign="center"
      fxLayoutGap="10px">
        <mat-form-field xFlex="20" fxFlex.xs="55" class="example-form-field">
          <mat-label>Value</mat-label>
          <input matInput type="number" formControlName="value" [min]="0">
        </mat-form-field>
  
        <mat-form-field xFlex="20" fxFlex.xs="55">
          <mat-label>From</mat-label>
          <mat-select formControlName="from">
            @for (unit of units; track unit) {
            <mat-option [value]="unit">{{unit}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <div class="example-button-container" xFlex="20" fxFlex.xs="55">
          <button mat-fab (click)="switchUnits()" aria-label="Example icon button with a heart icon">
            <mat-icon>cached</mat-icon>
          </button>
        </div>
  
        <mat-form-field xFlex="20" fxFlex.xs="55">
          <mat-label>To</mat-label>
          <mat-select formControlName="to">
            @for (unit of units; track unit) {
            <mat-option [value]="unit">{{unit}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
  
        <div class="switch-button" xFlex="20" fxFlex.xs="55">
          <button mat-flat-button color="primary" aria-label="Convert" (click)="convert()">
            Convert
          </button>
        </div>
      </div>
  
    </form>
  </div>
</section>

<br />
<section>
  @if (converted) {
  <div class="result-currency">
    <div class="result-from">
      {{resultFrom}}
    </div>
    =
    <div class="result-to">
      {{resultTo}}
    </div>
  </div>
  }
</section>